body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #CEDEBD;
}

header {
    background-color: #435334;
    color: #FAF1E4;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #ffffff;
}

.product {
    border: 1px solid black;
    padding: 15px;
    margin: 10px 0;
    background-color: #9EB384;
}

.product h3 {
    margin: 0 0 10px 0;
}

button {
    background-color: #435334;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #CEDEBD;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #5D1C34;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

h2{
    text-align: center;
    color:#435334;
}

img{
    height: 250px;
}

.products {
    display: flex; 
    flex-wrap: wrap;                              
    justify-content: center; 
    color:#FAF1E4;             
}
